[Unit]
Description=ci listen Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm ci_listen_as_service
ExecStart=/usr/bin/docker run --rm -d --name ci_listen_as_service \
-v /etc/ci_listen/conf:/conf \
-v /var/run/docker.sock:/var/run/docker.sock \
-p 8081:5000 \
listen 
ExecStop=/usr/bin/docker exec ci_listen_as_service stop

[Install]
WantedBy=default.target
